* {
    background-color: rgb(45, 45, 45);
    color: rgb(240, 136, 230);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #fff;
}

header {
    text-align: center;
}

header p {
    color: var(--white)
}

/* .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
*/

pre {
    color: var(--white);
    font-family: monospace;
    margin: 5px;
}